<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.templateParameters.title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <% var cssFiles = htmlWebpackPlugin.files.css %>
  <% var defaultTheme = htmlWebpackPlugin.options.templateParameters.defaultTheme %>
  <% var currentThemeTagId = htmlWebpackPlugin.options.templateParameters.currentThemeTagId %>
  <% for (var css in cssFiles) { %>
    <% if (cssFiles[css].indexOf('-theme.') === -1) { %>
      <link href="<%= cssFiles[css] %>" rel="stylesheet" />
    <% } else { %>
      <theme src="<%= cssFiles[css] %>" />
      <% if (cssFiles[css].indexOf(defaultTheme + '-theme.') >= 0 ) { %>
        <link id="<%= currentThemeTagId %>" href="<%= cssFiles[css] %>" rel="stylesheet" />
      <% } %>
    <% } %>
  <% } %>
</head>

<body>
  <div id="app"></div>
  <% var jsFiles = htmlWebpackPlugin.files.js %>
  <% for (var js in jsFiles) { %>
    <% if (jsFiles[js].indexOf('-theme.') === -1) { %>
      <script defer src="<%= jsFiles[js] %>"></script>
    <% } %>
  <% } %>
</body>

</html>
